.main-form
  margin-top: $vertical-gutter*7.5
  margin-bottom: $vertical-gutter*12.5
  background-image: url(../images/form-background.png)
  background-size: 100%

.main-form-part-one
  padding: $vertical-gutter*3.75 rem-calc(22) $vertical-gutter*0.5
  border-bottom: rem-calc(2) solid $main-form-separator-line-color
  position: relative
  .main-form-avatar-area
    margin: 0 auto
  .main-form-information-field
    padding-bottom: $vertical-gutter
    margin-bottom: $vertical-gutter*3.75
    line-height: 100%
    font-size: $main-form-text-font-size
    color: $main-form-information-field-text-color
    border-bottom: rem-calc(2) solid $main-form-information-field-line-color
  .main-form-stamp
    position: absolute
    right: rem-calc(4)
    bottom: $vertical-gutter*0.75

.main-form-part-two
  padding-left: rem-calc(22)
  padding-right: rem-calc(22)
  padding-top: $vertical-gutter*3.75
  position: relative
  font-size: $main-form-title-font-size
  border-bottom: rem-calc(2) solid $main-form-separator-line-color
  .main-form-checkbox-group
    padding-bottom: $vertical-gutter*5
  .main-form-checkbox
    display: none
  .main-form-checkbox-custom
    position: relative
    width: $main-form-checkbox-field-size
    height: $main-form-checkbox-field-size
    background: $main-form-checkbox-field-color-disable
    border-radius: $vertical-gutter*0.5
  .main-form-checkbox-custom,.main-form-label
    display: inline-block
    vertical-align: middle
  .main-form-label
    padding-left: $vertical-gutter*1.25
    font-size: $main-form-text-font-size
    color: $main-form-information-field-text-color
  .main-form-checkbox:checked + .main-form-checkbox-custom::before
    padding-top: ($main-form-checkbox-field-size - $main-form-checkbox-check-size ) / 2
    text-align: center
    vertical-align: middle
    display: block
    position: absolute
    width: $main-form-checkbox-field-size
    font-family: $font-family-icons
    font-size: $main-form-checkbox-check-size
    line-height: $main-form-checkbox-check-size
    color: $main-form-checkbox-check-color
    background: $main-form-checkbox-field-color-enable
    border-radius: $vertical-gutter*0.5
    content: "\e900"

.main-form-part-three
  padding: $vertical-gutter*7.5 rem-calc(22)
  position: relative
  .meter-canvas
    position: relative
    width: 100%
    max-width: rem-calc(260)
    height: $vertical-gutter*17.5
  .main-form-title
    font-size: $main-form-title-font-size
  .main-form-digit-label
    font-size: $main-form-digit-font-size
    color: $main-form-digit-label-color
    font-weight: 900