include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('А. В. Судничников')
    include pug/styles.pug
  body
    include pug/svg.pug

    div.container
      div.row
        div.medium-offset-1.large-offset-2.small-12.medium-10.large-8.columns
          div.main-form
            div.main-form-part-one
              div.row
                div.small-12.medium-4.large-3.columns
                  div.main-form-avatar-area
                    img(data-interchange="[images/avatar-small.png, large],[images/avatar-large.png, small]" width="100%")
                div.small-12.medium-8.large-9.columns
                  div.main-form-information-field ИМЯ: АЛЕКСЕЙ
                  div.main-form-information-field ГОД РОЖДЕНИЯ: 1988
                  div.main-form-information-field ГОРОД: СЛЮДЯНКА (ИРКУТСКАЯ ОБЛАСТЬ)
                  div.main-form-information-field E-MAIL: ALSDEW@YA.RU, ТЕЛЕФОН: +79246063889
                div.main-form-stamp
                  img(src="images/stamp.png")
            div.main-form-part-two
              p Навыки
              div.row
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="HTML5" value="61")
                      span.main-form-checkbox-custom
                      span.main-form-label HTML5
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="CSS3" value="51")
                      span.main-form-checkbox-custom
                      span.main-form-label  CSS3
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="БЭМ" value="21")
                      span.main-form-checkbox-custom
                      span.main-form-label  БЭМ
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="SASS" value="63")
                      span.main-form-checkbox-custom
                      span.main-form-label SASS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="LESS" value="59")
                      span.main-form-checkbox-custom
                      span.main-form-label LESS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="GULP" value="38")
                      span.main-form-checkbox-custom
                      span.main-form-label GULP
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="VANILLAJS" value="30")
                      span.main-form-checkbox-custom
                      span.main-form-label VANILLAJS
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="ANGULAR" value="10")
                      span.main-form-checkbox-custom
                      span.main-form-label ANGULAR
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="JQUERY" value="12")
                      span.main-form-checkbox-custom
                      span.main-form-label JQUERY
                div.small-12.medium-6.large-3.columns
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="GIT" value="31")
                      span.main-form-checkbox-custom
                      span.main-form-label GIT
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="FOUNDATION" value="24")
                      span.main-form-checkbox-custom
                      span.main-form-label FOUNDATION
                  div.main-form-checkbox-group
                    label
                      input.main-form-checkbox(type="checkbox" name="BOOTSTRAP" value="65")
                      span.main-form-checkbox-custom
                      span.main-form-label BOOTSTRAP

            div.main-form-part-three
              div.row
                div.small-12.medium-6.large-6.columns
                  canvas.meter-canvas#MeterCanvas(height='100%' width='100%')
                div.small-12.medium-6.large-6.columns
                  div.main-form-title Мой уровень владения
                  div.main-form-title#skills-table
                  div.main-form-digit-label#digital-table 954
    include pug/scripts.pug
